<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>


<body>
<div th:replace="common/header :: nav-bar"/>
this is the homePage


<div sec:authorize="isAuthenticated()">
	Welcome <span sec:authentication="name">firstName</span>
	
	Assigned Role : <span sec:authentication="principal.authorities">Role</span>
	
	
	</div>

<div th:replace="common/header :: common-scripts"/>
</body>
</html>