
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<title>Mero Dokan| Admin Portal</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>


	<div th:fragment="nav-bar">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand center" th:href="@{/adminportal}">Mero
				Dokan</a>
			<div class="buttons">

				<a sec:authorize="isAuthenticated()" th:href="@{/logout}"><button
						class="myButton" type="button">Logout</button></a>
			</div>
		</nav>









		<div th:fragment="common-scripts">

			<link
				href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
				rel="stylesheet"
				integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
				crossorigin="anonymous">

			<script src="https://kit.fontawesome.com/23e3a01518.js"
				crossorigin="anonymous"></script>

			<script src="https://code.jquery.com/jquery-1.12.4.min.js"
				integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
				crossorigin="anonymous"></script>
			<script>
				window.jQuery
						|| document
								.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
			</script>
			<script th:src="@{/js/bootstrap.min.js}"></script>

			<script
				src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<!------ Include the above in your HEAD tag ---------->

			<script
				src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>


		</div>
</body>
</html>